* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    background-color: #616da8;
    /*6f78a7*/
    color: white;
    display: grid;
    grid-template-columns: 30% 65%;
    column-gap: 5%;
    padding: 0% 2%;
}

nav .array-inputs {
    display: grid;
    grid-template-columns: 60% 40%;
    place-content: center;
    padding: 5% 0%;
}

nav .array-inputs #a_size {
    padding: 5% 0%;
}

nav .array-inputs #a_speed {
    padding: 5% 0%;
}

nav .array-inputs #a_generate {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 4% 0% 0% 0%;
    padding-left: 20%;
}

nav .array-inputs #a_generate:hover {
    cursor: pointer;
}

nav .header_right {
    display: flex;
    flex-direction: column;
}

nav .header_right .nav-heading {
    display: inline-block;
    font-size: xxx-large;
    padding: 3% 0%;
}

nav .header_right .algos {
    display: grid;
    grid-template-columns: repeat(7, 15%);
    place-content: center;
    padding: 1% 0%;
}

nav .header_right .algos button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    padding: 2% 0%;
    font-size: x-large;
}

nav .header_right .algos button:hover {
    background-color: #4234c4;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}

section {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin-bottom: 0%;
}

section #Info_Cont1 {
    margin-top: 75%;
    padding: 20px;
}

section #array_container {
    display: flex;
    /*align-items: flex-end;*/
    width: 125%;
    height: 72vh;
}

section #Info_Cont2 {
    padding: 0%;
}


/*
@media (max-width: 480px)//Mobiles
{
    
}

@media (min-width: 481px) and (max-width: 1250px)//Tablets
{

}

@media (min-width: 1251px)//Laptops and up
{

}
*/